
h1 {
    color: green;
  }

h2 {
    color: blue;
  }

caption {
    color: blue;
    font-weight: bold;
  }

.negrita {
     font-weight: bold;
}

.subrayado {
    text-decoration: underline;
}
.amarillo {
    color: yellow;
}

.rojo {
    color: red;
}

#rosa {
    color: pink;
}

.verde {
  color: goldenrod;
}

<style>
  
  table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #ffcc00;
  }
  </style>